.medicineInfo {
  position: absolute;    
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  top: 27%;
  left: 8%;
  color: #db1a23; 
  font-family: 'Futura', 'arial', sans-serif;
}

.medicineInfo__description {
  font-size: 1.2vw;
}

.medicineForm {
  position: absolute;
  bottom: 5%;
  left: 25%;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #db1a23;
  padding: 20px;
  margin: 7px;
  border-radius: 12px;
  color: white; 
  font-family: 'Futura', 'arial', sans-serif;
}

.medicineForm span {
  font-size: 22px;
}

.medicineForm__container__input {
  display: flex;
  height: 7vh;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 1.1vw;
}

.medicineForm__container__input input {
  width: 80%;
  margin-left: 8px;
}

.medicineForm__container__input select { 
  width: 80.5%;
  margin-left: 8px;
}

.medicineForm__container__input textarea {
  width: 80%;
  height: 40px;
  resize: none;
}

input[type="text"], textarea,  select{
  background-color : white; 
  color: #db1a23;
  border: none;
  font-size: 1vw;
}

.medicineForm__container__input__text {
  width: 35%;
}

.medicineForm__button {
  width: 15%;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 1vw;
  font-style: italic;
  font-weight: bold;
  background: white;
  color: #db1a23;
  font-family: 'Futura', 'arial', sans-serif;
  align-self: flex-end;
}

.medicineForm__button:hover {
  cursor: pointer;
}

.medicineForm__container__values {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.medicineForm__container__values  span {
  font-size: 1.1vw;
}
