<app-background [backgroundColor]="'#FFFFFF'" [imgURL]="'../../../assets/images/img1.jpg'">
<div class="aboutOption">
    <div class="aboutOption__icon">
       
        <i class="fas fa-dna"></i>
        <p>Localización</p>
    </div>
    <div class="aboutOption__icon">
        <p>Misión</p>
        <i class="fas fa-dna"></i>
       
    </div>
    <div class="aboutOption__icon">
        
        <i class="fas fa-dna"></i>
        <p>Historia</p>
    </div>
    <div class="aboutOption__icon">
        <p>Objetivos</p>
        <i class="fas fa-dna"></i>
    </div>
    <div class="aboutOption__icon__selected">
        <i class="fas fa-dna"></i>
        <p>Junta Directiva</p>
    </div>
    <div class="aboutOption__icon">
        <p>Organigrama</p>   
        <i class="fas fa-dna"></i>
        </div>
</div>

<div class="aboutInfo">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem architecto magnam assumenda repellendus consectetur vitae ipsam non, ad sed numquam praesentium cumque deserunt minus laborum quam quia. Quia, voluptates Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quibusdam similique ut, magnam reprehenderit ea quod quisquam hic. Consequatur mollitia deleniti id fugiat natus dolore obcaecati quod labore reprehenderit. At. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, quisquam beatae! Quaerat praesentium placeat consectetur nam corrupti sapiente rem aliquid, aspernatur eveniet sed reprehenderit sit neque ducimus animi facilis maxime.</p>
</div>

<div class="aboutActionSelected__icon">
    <i class="fas fa-dna"></i>
    <p>Junta Directiva</p>
</div>
</app-background>
