.aboutOption{
    position: absolute;    
    display: flex;
    top: 30%;
    left: 8%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.aboutOption__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #db1a23;
    font-family: 'Futura', 'arial', sans-serif;
    font-style: italic;  
} 

.aboutOption__icon__selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
} 

.aboutOption__icon__selected p{
    font-family: 'Futura', 'arial', sans-serif;   
    color: #db1a23; 
    font-style: italic;
} 
.aboutOption__icon__selected i{
    font-size: 4vw;
    color: white; 
    border: 2px solid #db1a23; 
    border-radius: 12px;
    padding: 15px;
    background: #db1a23;
} 

.aboutOption__icon i, .aboutActionSelected__icon i{
    font-size: 4vw;
    color: #db1a23; 
    border: 2px solid #db1a23; 
    border-radius: 12px;
    padding: 15px;
    
} 

.aboutInfo{

    position: absolute;
    width: 30%;
    top: 56%;
    left: 28%;   
    height: 40%;
    overflow: hidden;
    overflow-y: scroll;
} 

.aboutInfo p{
    font-size: 1.4vw;
    color: #db1a23;
    text-align: justify;
    font-family: 'Futura', 'arial', sans-serif;    
    padding-right: 15px;
}    

.aboutActionSelected__icon{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #db1a23;
    font-family: 'Futura', 'arial', sans-serif;
    bottom: 5%;
    left: 1%;
}  
.aboutActionSelected__icon p{
    font-size: 2vw;
    font-style: italic;
    letter-spacing: 3px;
}  