@import './../../../vars';

.aboutOption {
  position: absolute;
  display: flex;
  top: 30%;
  left: 8%;
  width: 50%;
  justify-content: space-around;
  align-items: center;

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $btnPrimary;
    font-family: $textFontFamily;
    font-style: italic;

    &--selected {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & p {
        font-family: $textFontFamily;
        color: $btnPrimary;
        font-style: italic;

        @media screen and (max-width: $sm) {
          display: none;
        }
      }

      & i {
        font-size: 4vw;
        color: $secondaryColor;
        border: 2px solid $btnPrimary;
        border-radius: 12px;
        padding: 15px;
        background: $btnPrimary;

        @media screen and (max-width: $customBreakpoint) {
          padding: 0;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
      }
    }

    & i {
      font-size: 4vw;
      color: $btnPrimary;
      border: 2px solid $btnPrimary;
      border-radius: 12px;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: $customBreakpoint) {
        padding: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }
    }

    @media screen and (max-width: $customBreakpoint) {
      flex-direction: row;
      margin-top: 5px;
    }

    @media screen and (max-width: $sm) {
      & p {
        display: none;
      }
    }
  }

  @media screen and (max-width: $customBreakpoint) {
    flex-direction: column;
    align-items: flex-start;
    top: 30%;
    left: 5%;
    width: calc(100vw - 60%);

    &__icon {
      &--selected {
        flex-direction: row;
      }

      &--selected:nth-child(2n),
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }
  }
}

.aboutActionSelected {
  &__icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $btnPrimary;
    width: 16%;
    font-family: $textFontFamily;
    bottom: 5%;
    left: 1%;

    & p {
      font-size: 2vw;
      font-style: italic;
      letter-spacing: 3px;
    }

    & i {
      font-size: 4vw;
      color: $btnPrimary;
      border: 2px solid $btnPrimary;
      border-radius: 12px;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: $customBreakpoint) {
        width: 75px;
        height: 75px;
        line-height: 75px;
        text-align: center;
      }
    }

    @media screen and (max-width: $customBreakpoint) {
      left: 0;
      right: 0;
      width: auto;
      bottom: 2.5%;

      & p {
        font-size: 3vw;
      }
    }
  }
}

.aboutInfo {
  position: absolute;
  width: 30%;
  top: 56%;
  left: 28%;
  height: 40%;
  overflow: hidden;
  overflow-y: scroll;

  & p {
    font-size: 1.4vw;
    color: $btnPrimary;
    text-align: justify;
    font-family: $textFontFamily;
    padding-right: 15px;
  }

  @media screen and (max-width: $customBreakpoint) {
    top: 30%;
    right: 5%;
    left: auto;
    width: calc(100vw - 40%);

    & p {
      padding-right: 0;
      font-size: 4vw;
      margin: 0;
    }
  }

  @media screen and (max-width: $sm) {
    width: calc(100vw - 30%);
  }
}
