<app-background [backgroundColor]="'#FFFFFF'" [imgURL]="'../../../assets/images/img1.jpg'">

<div class="specialties">
  
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Proctología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Endocrinología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Cardiología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Odontología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Dermatología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Dermatología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Dermatología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Dermatología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Dermatología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Dermatología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="specialties__item">
        <i class="fas fa-dna"></i>
        <p>Dermatología</p>
        <i class="fas fa-arrow-right"></i>
    </div>
</div>

<div class="specialties__title">
    <i class="fas fa-dna"></i>
    <span>Nuestras especialidades</span>
</div>

<div class="specialties__slogan">
        <span>Los mejores <br> profesionales <br> para ti</span>
</div>

</app-background>
