.specialties{

    position: absolute;
    display: flex;
    flex-direction: column;
    top: 26%;
    left: 27%;
    width: 30%;
    height: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    
}

.specialties__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fc141c;
    padding: 15px;
    border-bottom: 2px solid white;
    color: white;
}

.specialties__item > i{
    margin: 0px 40px;
    font-size: 40px;
    
}  

.specialties__item > p{

    font-size: 26px;
    font-family: 'Futura', 'arial', sans-serif;
    font-style: bold;
    color: white;
}  

.specialties__title{

    position: absolute;
    background-color: #fc141c;
    top: 90%;
    left: 70%;
    padding: 15px;
    border-radius: 15px;
    color: white;

}  
.specialties__title > i{

    
    margin: 0px 40px;
    font-size: 25px;
}  

.specialties__title > span{

    font-size: 18px;
    font-family: 'Futura', 'arial', sans-serif;
    font-style: bold;
    color: white;
    padding-right: 20px;

}  



.specialties__slogan{

    position: absolute;
    color:#db1a23;
    top: 78%;
    left: 2%;
    font-size: 35px;
    font-family: 'Futura', 'arial', sans-serif;
    letter-spacing: 5px;
}  


::-webkit-scrollbar {
    width: 12px;
  }
  
 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
