.intershipInfo {
  position: absolute;    
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  top: 22%;
  left: 14%;
  color: white;
  font-family: 'Futura', 'arial', sans-serif;
}

.intershipInfo__title {
  text-align: right;
  border-bottom: 4px solid white;
  border-bottom-width: 5px;
  padding-bottom: 10px;
  width: 55%;
  font-size: 19px;
}


.intershipForm {
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin: 7px;
  border-radius: 12px;
  color: #db1a23; 
  font-family: 'Futura', 'arial', sans-serif;
}

.intershipForm span {
  font-size: 22px;
}

.intershipForm__container__input {
  display: flex;
  height: 7vh;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.intershipForm__container__input input, select {
  width: 80%;
  margin-left: 8px;
}

.intershipForm__container__input textarea {
  width: 80%;
  height: 40px;
  resize: none;
}

input[type="text"], textarea,  select{
  background-color : #db1a23; 
  color: white;
  border: none;
}

.intershipForm__container__input__text {
  width: 15%;
}

.intershipForm__button {
  width: 15%;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-style: italic;
  background: #db1a23;
  color: white;
  font-family: 'Futura', 'arial', sans-serif;
  align-self: flex-end;
  margin-right: 4%;
}

.intershipForm__button:hover {
  cursor: pointer;
}
