@import './../../../vars';

.intershipInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  top: 22%;
  left: 14%;
  color: white;
  font-family: 'Futura', 'arial', sans-serif;

  &__title {
    text-align: right;
    border-bottom: 4px solid white;
    border-bottom-width: 5px;
    padding-bottom: 10px;
    width: 55%;
    font-size: 1.7vw;

    @media screen and (max-width: $customBreakpoint) {
      text-align: center;
    }
  }

  &__description {
    font-size: 1.2vw;
  }

  @media screen and (max-width: $customBreakpoint) {
    position: static;
    width: 80%;
    align-items: center;
    margin: 20px auto;

    & * {
      font-size: 4vw;
    }
  }
}

.intershipForm {
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin: 7px;
  border-radius: 12px;
  color: #db1a23;
  font-family: 'Futura', 'arial', sans-serif;
  font-size: 1vw;

  &__container__input {
    display: flex;

    @media screen and (min-width: $customBreakpoint) {
      height: 7vh;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      & input {
        width: 80%;
        margin-left: 8px;
      }

      & textarea {
        width: 80%;
        height: 40px;
        resize: none;
      }

      & p {
        margin-bottom: 0;
      }

      &__text {
        width: 15%;
      }
    }

    @media screen and (max-width: $customBreakpoint) {
      flex-direction: column;
    }
  }

  &__button {
    width: 15%;
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-size: 1.2vw;
    font-style: italic;
    font-weight: bold;
    background: #db1a23;
    color: white;
    font-family: 'Futura', 'arial', sans-serif;
    align-self: flex-end;
    margin-right: 4%;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $customBreakpoint) {
      margin-top: 15px;
      display: block;
      width: 100%;
    }
  }

  @media screen and (max-width: $customBreakpoint) {
    position: static;
    display: block;
    margin: 10px auto;
    width: 80%;
    text-align: center;

    & * {
      font-size: 4vw !important;
    }
  }
}

select {
  @media screen and (min-width: $customBreakpoint) {
    width: 80%;
    margin-left: 8px;
  }
}

input[type='text'],
textarea,
select {
  background-color: #db1a23;
  color: white;
  border: none;
  font-size: 1vw;
}
