<app-background
    [backgroundColor]="'#fc141c'"
    [imgURL]="'../../../assets/images/imgHome.jpg'"
>
    <div class="homeMain">
        <h2 class="homeMain__title">Centro Médico</h2>
        <div class="homeMain__options">
            <div class="homeMain__options__item">
                <i class="fas fa-tooth"></i>
            </div>
            <div class="homeMain__options__item">
                <i class="fas fa-heartbeat"></i>
            </div>
            <div class="homeMain__options__item">
                <i class="fas fa-x-ray"></i>
            </div>
            <div class="homeMain__options__item">
                <i class="fas fa-microscope"></i>
            </div>
            <div class="homeMain__options__item" routerLink="/especialidades">
                +
                <br />
                Ver Más
            </div>
        </div>
    </div>

    <div class="homeInfo">
        <div class="homeInfo__lab">
            <div class="homeInfo__lab__header">
                <i class="fas fa-dna"></i>
                <div>Laboratorio</div>
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Similique, tenetur corrupti! Tempora incidunt
            </p>
        </div>
        <div class="homeInfo__farmacia">
            <div class="homeInfo__farmacia__header">
                <i class="fas fa-prescription-bottle-alt"></i>
                <div>Farmacia</div>
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Similique, tenetur corrupti! Tempora incidunt
            </p>
        </div>
    </div>
</app-background>
