@import './../../../vars';

.doctors {
  position: absolute;
  top: 28%;
  left: 15%;    
  overflow-y: scroll;
  height: 70%;
  width: 42%;

  &__title {
    position: absolute;
    background-color: $primaryColor;
    top: 84%;
    left: 60%;
    padding: 15px;
    border-radius: 15px;
    color: $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    & > i {
      margin: 0 10px 0 60px;
      font-size: 3.5vw;
    }

    & > span {
      font-size: 2vw;
      font-family: $textFontFamily;
      font-style: italic;
      color: $secondaryColor;
      padding-right: 20px;
      margin-right: 60px;
    }

    @media screen and (max-width: $customBreakpoint) {
      position: static;
      margin-top: 9%;

      & > i {
        font-size: 4.5vw;
      }
      & > span { 
        font-size: 3.5vw;
      }
    }
  }

  @media screen and (max-width: $customBreakpoint) {
    position: static;
    margin-top: 2%;
    width: 100%;
  }
}

.doctor {
  display: flex;
  justify-content: flex-start;

  &__image {
    margin-right: 20px;
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    border: 12px solid $primaryColor;
  }
  &__image img {
    width: 100%;
    height: auto;
  }
  &__information {
    width: 60%;
    color: $primaryColor;
    font-family: 'Futura', 'arial', sans-serif;

    & > h2 {
      font-size: 1.6vw;
      border-bottom: 4px solid $primaryColor;
      border-bottom-width: 5px;
      padding-bottom: 10px;
    }

    & > p {
      font-size: 1.2vw;
    }

    @media screen and (max-width: $customBreakpoint) {
      width: 70%;
      & > h2 {
        font-size: 3.2vw;
      }
      & > p {
        font-size: 2.8vw;
      }
    }
  }

  @media screen and (max-width: $customBreakpoint) {
    align-items: center;
    margin: 2%;
  }
}
