<app-background
    [backgroundColor]="'#FFFFFF'"
    [imgURL]="'../../../assets/images/doctors.jpg'"
>
    <div class="doctors__title">
        <i class="fas fa-heartbeat"></i>
        <span>{{ speciality.alias }}</span>
    </div>

    <div class="doctors">
        <div class="doctor">
            <div class="doctor__image">
                <img
                    src="../../../assets/images/doctor-1.jpg"
                    alt="Doctor image"
                />
            </div>
            <div class="doctor__information">
                <h2>{{ speciality.doctorAlias }}</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid amet debitis dolor dolorem dolorum eligendi ipsam
                    iusto labore magni neque nihil officiis quasi, qui quia
                    quibusdam sapiente sit tenetur ullam!
                </p>
            </div>
        </div>

        <div class="doctor">
            <div class="doctor__image">
                <img
                    src="../../../assets/images/doctor-2.jpg"
                    alt="Doctor image"
                />
            </div>
            <div class="doctor__information">
                <h2>{{ speciality.doctorAlias }}</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid amet debitis dolor dolorem dolorum eligendi ipsam
                    iusto labore magni neque nihil officiis quasi, qui quia
                    quibusdam sapiente sit tenetur ullam!
                </p>
            </div>
        </div>

        <div class="doctor">
            <div class="doctor__image">
                <img
                    src="../../../assets/images/doctor-3.jpg"
                    alt="Doctor image"
                />
            </div>
            <div class="doctor__information">
                <h2>{{ speciality.doctorAlias }}</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid amet debitis dolor dolorem dolorum eligendi ipsam
                    iusto labore magni neque nihil officiis quasi, qui quia
                    quibusdam sapiente sit tenetur ullam!
                </p>
            </div>
        </div>
    </div>
</app-background>
