@import './../../../vars';

.doctorInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  top: 22%;
  left: 14%;
  color: $secondaryColor;
  font-family: $textFontFamily;

  &__title {
    text-align: right;
    border-bottom: $defaultUnderlineBorder;
    border-bottom-width: 5px;
    padding-bottom: 10px;
    width: 55%;
    font-size: 1.5vw;
  }

  &__description {
    font-size: 1.2vw;
  }
}

.doctorContact {
  position: absolute;
  bottom: 40%;
  left: 30%;

  &__email {
    color: $secondaryColor;
    font-family: $textFontFamily;
    font-size: 1.4vw;

    & span {
      margin-left: 30px;
    }

    &__title {
      text-align: right;
      border-bottom: $defaultUnderlineBorder;
      border-bottom-width: 5px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
}

.doctorForm {
  position: absolute;
  bottom: 3%;
  left: 25%;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: $secondaryColor;
  padding: 12px;
  margin: 7px;
  border-radius: 12px;
  color: $btnPrimary;
  font-family: $textFontFamily;

  & span {
    font-size: 1.6vw;
  }

  &__container {
    &__input {
      display: flex;
      height: 7vh;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      font-size: 1.1vw;

      & input {
        width: 80%;
      }

      & textarea {
        width: 80%;
        height: 40px;
        resize: none;
      }

      &__text {
        width: 15%;
      }
    }
  }

  &__button {
    width: 15%;
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-size: 1.2vw;
    font-style: italic;
    font-weight: bold;
    background: $btnPrimary;
    color: $secondaryColor;
    font-family: $textFontFamily;
    align-self: flex-end;
    margin-right: 4%;

    &:hover {
      cursor: pointer;
    }
  }
}

input[type='text'],
textarea {
  background-color: $btnPrimary;
  color: $secondaryColor;
  border: none;
  font-size: 1vw;
}

.doctorSchedule {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 14%;
  left: 3%;
  color: $secondaryColor;
  font-family: $textFontFamily;

  & span {
    &:nth-child(1) {
      font-size: 2vw;
      border-bottom: $defaultUnderlineBorder;
      border-bottom-width: 5px;
      padding-bottom: 5px;
      width: 110%;
    }

    &:nth-child(2) {
      font-size: 1.5vw;
      margin: 5px;
    }

    &:nth-child(3) {
      font-size: 1.5vw;
    }
  }
}
