<app-background
    [backgroundColor]="'#fc141c'"
    [imgURL]="'../../../assets/images/doctor.jpg'"
>
    <div class="doctorInfo">
        <div class="doctorInfo__title">Cardiólogo Dr. Leandro Casique</div>
        <div class="doctorInfo__description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                at ipsum ipsam sapiente assumenda iste hic officiis fugit
                debitis corporis est maiores molestiae rem amet dolore, nesciunt
                qui sed fugiat! Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Ipsam nisi molestias cupiditate officia ipsa
                iusto, incidunt perspiciatis. Saepe nisi odio facilis nobis,
                aspernatur voluptatibus impedit nulla, libero quam, nesciunt
                praesentium.
            </p>
        </div>
    </div>
    <div class="doctorContact">
        <div class="doctorContact__email">
            <div class="doctorContact__email__title">Contacto</div>
            <span>ccvsdrleandrocasique@gmail.com</span>
        </div>
    </div>
    <div class="doctorForm">
        <span>Solicitar Cita</span>
        <div class="doctorForm__container">
            <div class="doctorForm__container__input">
                <p class="doctorForm__container__input__text">Nombre</p>
                <input type="text" />
            </div>
            <div class="doctorForm__container__input">
                <p class="doctorForm__container__input__text">Correo</p>
                <input type="text" />
            </div>
            <div class="doctorForm__container__input">
                <p class="doctorForm__container__input__text">Asunto</p>
                <input type="text" />
            </div>
        </div>
        <button class="doctorForm__button">Enviar</button>
    </div>
    <div class="doctorSchedule">
        <span>Horario</span>
        <span>Lunes a Viernes</span>
        <span>7:00 a.m - 3:00 p.m</span>
    </div>
</app-background>
