.doctorInfo {
  position: absolute;    
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  top: 22%;
  left: 14%;
  color: white;
  font-family: 'Futura', 'arial', sans-serif;
}

.doctorInfo__title {
  text-align: right;
  border-bottom: 4px solid white;
  border-bottom-width: 5px;
  padding-bottom: 10px;
  width: 55%;
  font-size: 19px;
}

.doctorContact {
  position: absolute;
  bottom: 40%;
  left: 30%;
}

.doctorContact__email {
  color: white;
  font-family: 'Futura', 'arial', sans-serif;
  font-size: 20px;
}

.doctorContact__email span {
  margin-left: 30px;
}

.doctorContact__email__title {
  text-align: right;
  border-bottom: 4px solid white;
  border-bottom-width: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.doctorForm {
  position: absolute;
  bottom: 3%;
  left: 25%;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 12px;
  margin: 7px;
  border-radius: 12px;
  color: #db1a23; 
  font-family: 'Futura', 'arial', sans-serif;
}

.doctorForm span {
  font-size: 22px;
}

.doctorForm__container__input {
  display: flex;
  height: 7vh;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.doctorForm__container__input input {
  width: 80%;
}

.doctorForm__container__input textarea {
  width: 80%;
  height: 40px;
  resize: none;
}

input[type="text"], textarea {
  background-color : #db1a23; 
  color: white;
  border: none;
}

.doctorForm__container__input__text {
  width: 15%;
}

.doctorForm__button {
  width: 15%;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  background: #db1a23;
  color: white;
  font-family: 'Futura', 'arial', sans-serif;
  align-self: flex-end;
  margin-right: 4%;
}

.doctorForm__button:hover {
  cursor: pointer;
}

.doctorSchedule {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 14%;
    left: 3%;
  color: white;
  font-family: 'Futura', 'arial', sans-serif;
}

.doctorSchedule span:nth-child(1) {
  font-size: 15px;
  border-bottom: 4px solid white;
  border-bottom-width: 5px;
  padding-bottom: 5px;
  width: 110%;
}

.doctorSchedule span:nth-child(2) {
  font-size: 16px;
  margin: 5px;
}

.doctorSchedule span:nth-child(3) {
  font-size: 15px;
}