.circle1 {
  width: 39%;
  height: 70%;
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  left: -15%;
}

.circle2 {
  width: 81%;
  height: 86%;
  border-radius: 50%;
  position: absolute;
  left: 11%;
  top: 7.5%;
}

.container__img {
  background-size: cover;
  clip-path: circle(50% at 62% 45%);
  width: 720px;
  height: 720px;
  position: absolute;
  right: -4%;
  top: -8%;
}

.homeLogo {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 22%;
}

.container__menu {
  position: absolute;
  top: 10%;
  left: 30%;
}

.container__menu__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 11px;
  font-family: 'Futura', 'arial', sans-serif;
}

.container__menu__nav__item {
  padding: 8px 20px;
  font-size: 18px;
}

.container__menu__nav__item:hover {
  background: #56161a;
  color: white;
  cursor: pointer;
}

.container__menu__nav__item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container__menu__nav__item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
