<div class="container" [ngStyle]="{'background-color': backgroundColor}">
  <div class="container__background">
    <img [src]="backgroundColor == '#fc141c' ? '../../../assets/images/logo1.png' : '../../../assets/images/logo2.png' " alt="" class="homeLogo">
    <div class="circle1" [ngStyle]="{'background-color': backgroundColor == '#fc141c' ? 'white' : '#fc141c'}">
      <div class="circle2" [ngStyle]="{'background-color': backgroundColor == '#fc141c' ? '#fc141c' : 'white'}"></div>
    </div>
    <div class="container__img" [ngStyle]="{'background-image': 'url(' + imgURL + ')'}"></div>
    <div class="container__menu">
      <div class="container__menu__nav" [ngStyle]="{'background-color': backgroundColor == '#fc141c' ? 'white' : '#fc141c', 'color': backgroundColor == '#fc141c' ? '#db1a23' : 'white'}">
        <div class="container__menu__nav__item" routerLink="/">
          Home
        </div>
        <div class="container__menu__nav__item">Servicios</div>
        <div class="container__menu__nav__item">Nosotros</div>
        <div class="container__menu__nav__item">Pasantias</div>
        <div class="container__menu__nav__item">Únete</div>
      </div>
    </div>
  </div>
  <div class="container__body">
    <ng-content></ng-content>
  </div>
</div>

