@import './../../../vars';

.circle {
  &-1 {
    width: 39%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    bottom: -20%;
    left: -15%;
  }

  &-2 {
    background-size: cover;
    clip-path: circle(50% at 62% 45%);
    background-position-x: right;
    width: 81%;
    height: 86%;
    border-radius: 50%;
    position: absolute;
    left: 11%;
    top: 7.5%;
  }

  &-2,
  &-1 {
    @media screen and (max-width: $customBreakpoint) {
      display: none;
    }
  }
}

.container {
  &__img {
    background-size: cover;
    clip-path: circle(50% at 62% 45%);
    width: 50vw;
    height: 100%;
    position: absolute;
    right: -4%;
    top: -8%;

    @media screen and (max-width: $customBreakpoint) {
      background-image: none !important;
      display: none;
    }
  }

  &__hideMenuMobile {
    display: none;
  }

  &__menuButton {
    top: 14%;
    padding: 8px 19px;
    margin: 5px;
    position: absolute;
    border-radius: 5px;
    background: white;
    color: $activeColor;
    border: 2px solid $activeColor;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    position: absolute;
    top: 10%;
    left: 22%;
    z-index: 1;

    &__nav {
      display: flex;
      flex-direction: row;
      border-radius: 11px;
      font-family: $textFontFamily;

      &__item {
        padding: 8px 20px;
        font-size: 1.2vw;
        width: 9vw;
        text-align: center;

        &:hover {
          background: $activeColor;
          color: $secondaryColor;
          cursor: pointer;
        }

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        @media screen and (max-width: $customBreakpoint) {
          font-size: 2.1vw;
        }
      }
    }

    @media screen and (max-width: $customBreakpoint) {
      position: static;
      &__nav {
        flex-direction: column;
        &__item {
          font-size: 3vw;
          padding: 8px 17px;
          width: 100%;

          &:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

          &:last-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

  &__submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: $activeColor;
    top: 15.6%;
    width: 11.9vw;
    left: 33.9%;
    font-size: 1.2vw;
    color: $secondaryColor;
    font-family: $textFontFamily;
    z-index: 1;

    &__item {
      padding: 10px;

      &:hover {
        cursor: pointer;
        background: $secondaryColor !important;
        color: $activeColor;
        border: 1px solid $activeColor;
      }
    }

    @media screen and (max-width: $customBreakpoint) {
      top: 20.8%;
      width: auto;
      left: 15%;
      font-size: 3.5vw;
    }
  }
}

.logo-container {
  text-align: center;
  padding: 10px 0;
}

.homeLogo {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 22%;

  @media screen and (max-width: $customBreakpoint) {
    position: initial;
  }
}

.linkActive {
  background: $activeColor;
  color: $secondaryColor;
}

.subMenuBack {
  background: $activeColor;
  color: $secondaryColor;
}

.linkActiveSubMenu {
  background: $secondaryColor !important;
  color: $activeColor;
  border: 1px solid $activeColor;
}
