<div class="container">
  <div class="container__background">
    <div class="circle1">
      <div class="circle2"></div>
    </div>
    <div class="home__img"></div>
  </div>
  <div class="container__content">

    <img src="../assets/images/logo1.png" alt="" class="home__logo">

    <div class="home__menu">
      <div class="menu__container">
        <div class="menu__item">Home</div>
        <div class="menu__item">Servicios</div>
        <div class="menu__item">Nosotros</div>
        <div class="menu__item">Pasantias</div>
        <div class="menu__item">Únete</div>
      </div>
    </div>

    <div class="home__main">
      <h2 class="home__title">Centro Médico</h2>
      <div class="home__options">
        <div class="home__option__item">
          <i class="fas fa-tooth"></i>
        </div>
        <div class="home__option__item">
          <i class="fas fa-heartbeat"></i>
        </div>
        <div class="home__option__item">
          <i class="fas fa-x-ray"></i>
        </div>
        <div class="home__option__item">
          <i class="fas fa-microscope"></i>
        </div>
        <div class="home__option__item">+ Más</div>
      </div>
    </div>

    <div class="home__info">
      <div class="home__info__lab">
        <div class="home__info__lab__header">
          <i class="fas fa-dna"></i>
          <div>Laboratorio</div>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, tenetur corrupti! Tempora incidunt </p>
      </div>
      <div class="home__info__farmacia">
        <div class="home__info__farmacia__header">
          <i class="fas fa-prescription-bottle-alt"></i>
          <div>Farmacia</div>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, tenetur corrupti! Tempora incidunt </p>
      </div>
    </div>


  </div>
</div>

