<app-background [backgroundColor]="'#FFFFFF'" [imgURL]="'../../../assets/images/img1.jpg'">
    <div class="joinUs">
        <div class="joinUs__title">
          ¡Únete a nosotros!
        </div>
        <div class="joinUs__info">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at ipsum ipsam sapiente assumenda iste hic officiis fugit debitis corporis est maiores molestiae rem amet dolore, nesciunt qui sed fugiat! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi molestias cupiditate officia ipsa iusto, incidunt perspiciatis. Saepe nisi odio facilis nobis, aspernatur voluptatibus impedit nulla, libero quam, nesciunt praesentium.</p>
        </div>
      </div>


      <div class="joinUsForm">
        <div class="joinUsForm__container">
          <div class="joinUsForm__container__input">
            <p class="joinUsForm__container__input__text">Cargo</p>
            <select name="Cargo" id="Cargo" >
                <option hidden selected>Selecciona un cargo</option>
                <option value="Medico residente">Medico residente</option>
                <option value="Administrativo">Administrativo</option>
                <option value="Obrero">Obrero</option>
              </select>
          </div>
          <div class="joinUsForm__container__input">
            <p class="joinUsForm__container__input__text">Nombre</p>
            <input type="text">
          </div>
          <div class="joinUsForm__container__input">
            <p class="joinUsForm__container__input__text">Correo</p>
            <input type="text">
          </div>
           <div class="joinUsForm__container__input">
            <p class="joinUsForm__container__input__text">Especialidad</p>
            <select name="Cargo" id="Cargo" >
                <option hidden selected>Selecciona una especialidad</option>
                <option value="Medico residente">Ron Casique</option>
                <option value="Administrativo">Leandro Jose</option>
                <option value="Obrero">Ronsi</option>
              </select>
          </div>
          <div class="joinUsForm__container__input">
            <p class="joinUsForm__container__input__text">Experiencia</p>
            <input type="text">
          </div>
        </div>
        <button class="joinUsForm__button">Enviar</button>
      </div>
</app-background>