@import './../../../vars';

.joinUs {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  top: 24%;
  left: 14%;
  color: $btnPrimary;
  font-family: $textFontFamily;

  &__title {
    text-align: right;
    border-bottom: 4px solid $btnPrimary;
    border-bottom-width: 5px;
    padding-bottom: 10px;
    width: 55%;
    font-size: 1.4vw;

    @media screen and (max-width: $customBreakpoint) {
      text-align: center;
    }
  }

  &__info {
    font-size: 1.2vw;
  }

  @media screen and (max-width: $customBreakpoint) {
    position: static;
    width: 80%;
    align-items: center;
    margin: 20px auto;

    & * {
      font-size: 4vw;
    }
  }
}

.joinUsForm {
  position: absolute;
  bottom: 3%;
  left: 25%;
  width: 40%;
  display: flex;
  flex-direction: column;
  background: $primaryColor;
  padding: 7px 15px;
  margin: 7px;
  border-radius: 12px;
  color: $secondaryColor;
  font-family: $textFontFamily;

  & span {
    font-size: 1.7vw;
  }

  &__container__input {
    display: flex;

    @media screen and (min-width: $customBreakpoint) {
      height: 7vh;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      font-size: 1.1vw;

      & input {
        width: 80%;
      }

      & select {
        width: 80.5%;
      }

      & textarea {
        width: 80%;
        height: 40px;
        resize: none;
      }

      &__text {
        width: 15%;
        margin-right: 15px;
      }
    }

    @media screen and (max-width: $customBreakpoint) {
      flex-direction: column;
    }
  }

  &__button {
    width: 15%;
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-size: 1.2vw;
    font-style: italic;
    background: $secondaryColor;
    color: $btnPrimary;
    font-family: $textFontFamily;
    align-self: flex-end;
    margin-right: 4%;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $customBreakpoint) {
      margin-top: 15px;
      display: block;
      width: 100%;
    }
  }

  @media screen and (max-width: $customBreakpoint) {
    position: static;
    display: block;
    margin: 10px auto;
    width: 80%;
    text-align: center;

    & * {
      font-size: 4vw !important;
    }
  }
}

input[type='text'],
textarea,
select {
  background-color: $secondaryColor;
  color: $btnPrimary;
  border: none;
  font-size: 1vw;
}

.joinUs {
  &__slogan {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 61%;
    left: 2%;
    align-items: center;

    &__icon {
      font-size: 4vw;
      color: $btnPrimary;
    }

    &__text {
      font-size: 2vw;
      color: $btnPrimary;
      font-family: $textFontFamily;
      letter-spacing: 5px;
      text-align: center;
    }

    @media screen and (max-width: $customBreakpoint) {
      position: static;
      width: 80%;
      align-items: center;
      margin: 20px auto;

      & * {
        font-size: 4vw;
      }
    }
  }
}
