body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Futura;
  src: url(assets/fonts/Futura/Futura.otf) format("opentype");
}

@font-face {
  font-family: Twentieth;
  src: url(assets/fonts/Twentieth/TCMI.ttf) format("opentype");
}

@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/OpensSans/OpenSans-Italic.ttf) format("opentype");
}

.container {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.container__background {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

