// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$customBreakpoint: 900px;

// Theme vars
$titlesFontFamily: 'OpenSans', 'sans-serif';
$textFontFamily: 'Futura', 'arial', sans-serif;
$primaryColor: #fc141c;
$secondaryColor: white;
$activeColor: #56161a;
$btnPrimary: #db1a23;
$defaultUnderlineBorder: 4px solid white;
